<div class="app__container" ng-app="jspmOnRails">
  <div class="form__container" ng-cloak ng-controller="PersonController">
    <input type="text" ng-model="firstName" placeholder="First Name">
    <input type="text" ng-model="lastName" placeholder="Last Name">
    <hr>
    <h1>Hello {{fullName()}}!</h1>
  </div>
</div>
